.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .error-page h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .error-page p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  